/*
	Definitions for the board and thread view
*/

ul.board, ul.sub_board, ul.sub_sub_board {
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;
}
ul.board li, ul.sub_board li {
	padding: 0;
	margin: 0;
	display: block;
}
ul.sub_sub_board li {
	padding: 0;
	margin: 0;
	display: inline-block;
}
ul.sub_board .container_head {
	text-align: left;
	border: none;
	border-bottom: 1px solid #0B334C;
	white-space: nowrap;
}

ul.board .forum .container_head {
		background: #f5f5f5;
		color: #000000;
		text-align: left;
		white-space: nowrap;
		box-shadow: inset 0 0 0 1px rgba(165, 240, 244, 0.3);
}
	ul.board .forum .title, ul.board .forum .description, ul.board .forum .board_bottom {
		color: #000000;
		text-shadow: 0 1px 0 #ffffff;
	}
	.board .forum .board_info {
		display: block;
		width: 70%;
		float: left;
		color: #000000;
		text-shadow: none;
	}
	.board .forum .board_post {
		display: block;
		width: 30%;
		float: right;
		color: #000000;
		text-shadow: none;
	}
		.board_post p {
			margin: 0;
			padding: 3px 0;
		}
	.forum .container_head:hover .board_top {
		background: #d4eeff;
		border-radius: 3px 3px 0 0;
	}
	.sub_board .container_head:hover .board_top {
		border-radius: 0;
	}
	.board .forum .board_top::after {
		content: "";
		height: 0;
		display: block;
		clear: both;
	}
	.board .forum .board_bottom {
		background: #e9f9ff;
		border-top: 1px solid #aacbeb;
		box-shadow: inset 0 0 1px #ffffff;
	}
		.forum .container_head:hover .board_bottom {
			background: #d7e4f0;
			border-top-color: #8eafcf;
		}
		.board .forum .stats {
			padding: 5px 15px;
			font-size: 11px;
			box-shadow: inset 0 0 1px #ffffff;
		}
		.board .board_bottom .sub_sub_board {
			padding: 5px 15px;
			border-top: 1px solid #c5e7ff;
			box-shadow: inset 0 0 1px #ffffff;
			text-align: right;
		}
			.forum .container_head:hover .sub_sub_board {
				border-top-color: #aed1e9;
			}
			ul.sub_sub_board li {
				display: inline-block;
				font-weight: bold;
				padding-left: 10px;
			}

ul.board .link .container_head {
	background: #d4e4f3;
	color: #000000;
	text-align: left;
	white-space: nowrap;
	box-shadow: inset 0 0 1px #ffffff;
}
	ul.board .link .container_head:hover {
		background: #c8d6e5;
	}
	ul.board .link .title, ul.board .link .description {
		color: #000000;
		text-shadow: 0 1px 0 #ffffff;
	}

/* Last elements */
ul.board .container > div.container_head:last-child {
	border-radius: 4px;
}
	ul.board .container > div:first-child:last-child > div:last-child {
		border-radius: 0 0 3px 3px;
	}

ul.board .container_head > div:last-child {
	border-radius: 0 0 2px 2px;
}

ul.sub_board li:last-child .container_head {
	border: none;
}
	ul.sub_board li:last-child .board_bottom {
		border-bottom: none;
	}
.container_content:last-child ul.sub_board li:last-child .container_head {
	border-radius: 0 0 2px 2px;
}
	.container_content:last-child ul.sub_board li:last-child .board_bottom {
		border-radius: 0 0 2px 2px;
	}