footer {
	color: #ffffff;
	text-shadow: 0 0 4px #000000;
	background: #1B1B1B url('images/bg_footer.png') center top repeat;
	border-top: 2px solid #ffffff;
	padding: 30px 0 0 0;
}
	footer .size::after {
		content: "";
		display: block;
		clear: both;
		height: 0;
	}
	footer a, footer a:link, footer a:visited {
		color: #ffffff;
		text-decoration: none;
		display: inline-block;
		margin: 0 0 1px 0;
		padding: 3px;
		border-radius: 4px;
	}
	footer a:hover {
		color: #ffffff;
		box-shadow: 0 1px 4px #000000;
		background: #3c4a58;
	}
	footer a:active {
		color: #ffffff;
		margin: 1px 0 0 0;
		box-shadow: 0 0px 3px #000000;
		background: #232b33;
	}

	footer .time {
		width: 250px;
		float: right;
		padding: 2px 0;
	}
		footer .info {
			display: inline-block;
		}
			footer .i_language, footer .i_style {
				background: transparent no-repeat left center;
				padding-left: 19px;
				line-height: 20px;
			}
			footer .i_language {
				background-image: url('icons/w_16_flag.png');
			}
			footer .i_style {
				background-image: url('icons/w_16_big_brush.png');
			}

		footer .date {
			display: inline-block;
		}
			footer .d_date, footer .d_time {
				display: inline-block;
				background: transparent no-repeat left center;
				padding-left: 18px;
				line-height: 16px;
			}
			footer .d_date {
				background-image: url('icons/w_16_calendar.png');
			}
			footer .d_time {
				background-image: url('icons/w_16_clock.png');
				margin-left: 8px;
			}
		footer .progressbar_trim {
			height: 4px;
			margin: -4px 0;
			padding: 4px 0;
			overflow: hidden;
		}
			footer .progressbar_trim.year {
				width: 250px;
				margin-top: -1px;
			}
			footer .progressbar_trim.day {
				width: 100px;
				margin-top: 1px;
				float: right;
			}
		footer .progressbar {
			box-shadow: 0 0 4px #000000;
			border-radius: 1px;
			background: rgba(255, 255, 255, 0.3);
			overflow: visible;
		}
		footer .progress {
			width: 0px;
			height: 4px;
			background: #558FA4 url('images/progressbar-overlay.png') repeat-y right center;
			border-radius: 1px;
		}
			footer .progress .shine {
				height: 12px;
				width: 40px;
				margin: -4px -2px -4px 0;
				float: right;
				background: transparent url('images/progressbar-shine.png') no-repeat right center;
			}

	footer .Legal {
		padding: 15px 0;
		margin-top: 20px;
		text-align: center;
		border-top: 1px solid #333333;
		background: rgba(50, 50, 50, 0.25);
	}

	footer .Copyright {
		color: #979797;
	}