section.user_bar {
	background: #111111 url('images/bg_userbar.png') center bottom repeat;
	border-bottom: 1px solid #6588ad;
	/*height: 26px;*/
	width: 100%;
	left: 0;
	right: 0;
	color: #ffffff;
	text-align: right;
	padding-top: 10px;
	margin-top: -11px;
	position: absolute;
	z-index: 100;
}

.user_tabs {
	padding-bottom: 10px;
}
	.user_tabs ul {
		list-style: none;
		padding: 0;
		margin: 0;
		white-space: nowrap;
	}
		.user_tabs ul li {
			display: inline-block;
			border-right: 1px solid #ffffff;
			color: #ffffff;
			text-shadow: 0 0 4px #000000;
		}
			.user_tabs ul li:last-child {
				border: none;
			}
			.user_tabs li a, .user_tabs li a:link, .user_tabs li a:visited, .user_tabs input[type=submit] {
				color: inherit;
				line-height: 18px;
				padding: 0 10px 1px 24px;
				background: none 6px center no-repeat;
				display: block;
				border: none;
				cursor: pointer;
			}
				.user_tabs li a:hover, .user_tabs input[type=submit]:hover {
					color: #98ffff
				}
			.user_tabs li#username a {
				background-image: url('icons/w_16_single_user.png');
			}
			.user_tabs li#settings a {
				background-image: url('icons/w_16_settings.png');
			}
			.user_tabs li#logout input[type=submit] {
				background-image: url('icons/w_16_off.png');
			}

#login_bar_handle {
	height: 0;
	display: block;
}
	#login_bar_handle #login_bar_toggle {
		background: #111111 url('images/bg_userbar.png') center top repeat;
		color: #ffffff;
		text-shadow: 0 0 4px #000000;
		display: inline-block;
		cursor: pointer;
		border-radius: 0 0 6px 6px;
		box-shadow: 0 3px 20px #111111;
		margin: 0 10px;
	}
		#login_bar_handle #login_bar_toggle:active {
			box-shadow: 0 1px 10px #111111;
		}
	#login_bar_inner {
		display: block;
		background: url('icons/w_16_key.png') 8px center no-repeat;
		padding: 8px 12px 12px 30px;
	}

#login_form {
	font-size: 16px;
	text-align: left;
	opacity: 0;
	display: none;
}
#login_form::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.wrap {
	width: 600px;
	margin: 0 auto;
	padding: 5px 0 10px 0;
}
	.wrap ul {
		list-style: none;
		padding: 0;
		margin: 0 0 10px 0;
		vertical-align: middle;
	}
		.wrap ul li {
			width: 290px;
			height: 24px;
			text-align: left;
			float: right;
			vertical-align: middle;
			line-height: 24px;
			text-shadow: 0 0 6px #000000;
		}
			.wrap ul li:first-child {
				text-align: right;
				float: left;
			}
			.wrap ul::after {
				content: "";
				display: block;
				height: 0;
				clear: both;
			}
		.wrap .login_submit li + li {
			margin-top: 3px;
		}
/* Checkbox design */
	.wrap input[type=checkbox] {
		display: none;
	}
		.wrap input[type=checkbox] + label {
			display: inline-block;
			height: 24px;
			width: 24px;
			background: url('images/sprite_checkbox.png') left top no-repeat;
			margin: -6px -3px -2px 0;
		}
			.wrap input[type=checkbox] + label:hover {
				background-position: left -24px;
			}
			.wrap input[type=checkbox] + label:active {
				background-position: left -48px;
			}
		
		.wrap input[type=checkbox]:checked + label {
			background-position: left -72px;
		}
			.wrap input[type=checkbox]:checked + label:hover {
				background-position: left -96px;
			}
			.wrap input[type=checkbox]:checked + label:active {
				background-position: left -120px;
			}
/* Radio button design */
	.wrap input[type=radio] {
		display: none;
	}
		.wrap input[type=radio] + label {
			display: inline-block;
			height: 16px;
			width: 16px;
			background: url('images/sprite_radiobutton.png') left top no-repeat;
			margin: 4px 5px -2px 0;
		}
			.wrap input[type=radio] + label:hover {
				background-position: left -16px;
			}
			.wrap input[type=radio] + label:active {
				background-position: left -32px;
			}
		
		.wrap input[type=radio]:checked + label {
			background-position: left -48px;
		}
			.wrap input[type=radio]:checked + label:hover {
				background-position: left -64px;
			}
			.wrap input[type=radio]:checked + label:active {
				background-position: left -80px;
			}
/* Login boxes */
	.wrap input[type=text], .wrap input[type=password] {
		background: transparent none no-repeat 4px center;
		box-shadow: inset 0 0 4px #000000, 0 0 4px #000000;
		color: #ffffff;
		font-weight: bold;
		border: 2px solid #ffffff;
		text-shadow: 0 0 4px #000000;
		border-radius: 4px;
		height: 24px;
		width: 200px;
		line-height: 24px;
		padding: 0 4px 0 22px;
	}
		.wrap input[type=text] {
			background-image: url('icons/w_16_user.png');
		}
		.wrap input[type=password] {
			background-image: url('icons/w_16_key.png');
		}
	.wrap input[type=text]:hover, .wrap input[type=password]:hover {
		border-color: #558fa4;
	}
	.wrap input[type=text]:focus, .wrap input[type=password]:focus {
		border-color: #1d3139;
	}

	.wrap input[type=submit] {
		background: transparent url('icons/w_16_off.png') no-repeat 4px center;
		box-shadow: inset 0 0 4px #000000, 0 0 4px #000000;
		color: #ffffff;
		padding: 3px 10px 3px 22px;
		font-weight: bold;
		border: 2px solid #ffffff;
		text-shadow: 0 0 4px #000000;
		border-radius: 4px;
	}
	.wrap input[type=submit]:hover {
		border-color: #558fa4;
	}
	.wrap input[type=submit]:active {
		border-color: #1d3139;
	}

header {
	background: #3c4a58 url('images/bg_header.png') repeat-x center top;
	margin-top: 11px;
	padding-bottom: 40px;
}

.logo {
	padding: 5px 0;
	vertical-align: middle;
}
	.logo img {
		height: 160px;
	}

.slogan {
	position: absolute;
	margin: -75px 0 0 128px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	text-shadow: 0 0 8px #000000;
}

/* Menu */
nav.menu {
	border-top: 1px solid #1B1B1B;
	background: #ddeaff;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.01);
}
nav.menu .menu_list {
	list-style: none;
	display: block;
	padding: 5px 10px 0 10px;
	margin: 0;
	font-size: 15px;
	overflow: hidden;
	margin-top: -41px;
}
nav.menu .menu_list li {
	height: 35px;
	float: left;
	display: block;
	margin-right: 8px;
}
nav.menu .menu_list li a {
	background: rgba(255, 255, 255, 0.3);
	color: #303030;
	font-weight: bold;
	display: block;
	padding: 0 20px;
	height: 34px;
	line-height: 34px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px 4px 0 0;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	cursor: pointer;
}
nav.menu .menu_list li:hover a {
	background: rgba(255, 255, 255, 0.4);
	border-top-color: rgba(255, 255, 255, 0.6);
}
nav.menu .menu_list li:active a {
	background: rgba(255, 255, 255, 0.2);
	border-top-color: rgba(255, 255, 255, 0.4);
}

nav.menu .menu_list li.active {
	height: 36px;
}
nav.menu .menu_list li.active a {
	background: #ddeaff;
	color: #000000;
	font-weight: bold;
	text-shadow: 0 1px 1px #ffffff;
	display: block;
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	border: none;
	border-top: 1px solid #ffffff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4);
}


#search_form {
	display: block;
	float: right;
	border: 2px solid rgba(255, 255, 255, 0.005); /* 0.005 is nearly 0, and fixes the firefox issue */
	border-bottom: none;
	width: 200px;
	height: 26px;
	background: rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: -28px 10px 4px 0;
	border-radius: 4px 4px 0 0;
}
#search_form input[type=search] {
	color: #ffffff;
	background: none;
	border: 0 none;
	display: block;
	float: left;
	height: 24px;
	font-size: 12px;
	line-height: 12px;
	padding: 2px 6px;
	margin-top: -1px;
	width: 168px;
}
#search_form #search_submit {
	background: transparent url('images/sprite_magnifying-glass.png') no-repeat left 0;
	border: 0px none;
	display: block;
	float: right;
	height: 24px;
	width: 20px;
	margin-top: 2px;
}
	#search_form #search_submit:hover {
		background-position: left -24px;
	}
	#search_form #search_submit:active {
		background-position: left -48px;
	}
