.notification {
	margin: -10px 0 20px 0;
	padding: 10px 0px;
	background: rgba(255,255,255,.4);
	color: #333333;
	text-shadow: 0 1px 0px rgba(255,255,255,.4);
}
	.notification_inner {
		border-top: 1px solid rgba(0, 0, 0, .1);
		border-bottom: 1px solid rgba(0, 0, 0, .1);
		background: url('images/pattern_dot.png');
	}
	.notification_content {
		background: no-repeat right center;
		margin-right: 10px;
		padding: 13px 38px 13px 10px;
		font-weight: bold;
		text-align: justify;
		line-height: 14px;
	}

	.notification.info .notification_inner {
		background-color: #c4d7f5;
	}
		.notification.info .notification_content {
			background-image: url('icons/g_32_info.png');
		}
	.notification.success .notification_inner {
		background-color: #d3f5c4;
	}
		.notification.success .notification_content {
			background-image: url('icons/g_32_success.png');
		}
	.notification.warning .notification_inner {
		background-color: #f2f5c4;
	}
		.notification.warning .notification_content {
			background-image: url('icons/g_32_warning.png');
		}
	.notification.error .notification_inner {
		background-color: #f5c4c4;
	}
		.notification.error .notification_content {
			background-image: url('icons/g_32_alert.png');
		}
	.notification.neutral .notification_inner {
		background-color: #f5f5f5;
	}
		.notification.neutral .notification_content {
			margin: 0;
			padding: 13px 10px;
		}
