.register_container {
	background: #e9f9ff;
}
	.register_container::after {
		content: "";
		height: 0;
		display: block;
		clear: both;
	}
	.register_container h1 {
		padding: 0;
		margin: 0 0 30px 0;
		font-size: 24px;
		color: #3f6f8e;
	}
	.register_container input {
		background: #ffffff;
		margin: 0 auto 20px auto;
		padding: 5px;
		border: 1px solid #0B334C;
		border-radius: 3px;
		box-shadow: inset 0 0 5px rgba(0,0,0,.5), 0 0 1px #ffffff;
		line-height: 14px;
		width: 300px;
	}
		.register_container input::-webkit-input-placeholder {
			color: #333333;
			text-shadow: none;
			line-height: 14px;
		}
	.register_content {
		background: #f5f5f5;
		display: block;
		padding: 15px 5px 5px 5px;
		margin-right: 251px;
		text-align: left;
		border-right: 1px solid #aacbeb;
	}
		.register_content::after {
			content: "";
			height: 0;
			display: block;
			clear: both;
		}
	.register_info {
		width: 250px;
		box-shadow: inset 0 0 0 1px rgba(165, 240, 244, 0.3);
		float: right;
	}
		.register_info_content {
			padding: 15px 5px 5px 5px;
			line-height: 16px;
		}
		.register_info .avatar {
			background: #ffffff;
			height: 150px;
			width: 150px;
			margin: 0 auto 20px auto;
			padding: 5px;
			border: 1px solid #0B334C;
			border-radius: 3px;
			box-shadow: inset 0 0 5px rgba(0,0,0,.5), 0 0 1px #ffffff;
			display: table;
		}
			.register_info .avatar_image {
				overflow: hidden;
				display: table-cell;
				vertical-align: middle;
			}
			.register_info .avatar img {
				max-height: 150px;
				max-width: 150px;
				display: block;
				margin: 0 auto;
			}
		.register_info .username, .register_info .email, .register_info .password {
			padding: 0 0 0 20px;
			margin-bottom: 6px;
			background: url('icons/g_16_user.png') left center no-repeat;
			display: block;
		}
			.register_info .email {
				background-image: url('icons/g_16_v_card.png');
			}
			.register_info .password {
				background-image: url('icons/g_16_key.png');
			}