/* Userlist */
table.userlist {
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: collapse;
}
	table.userlist td, table.userlist th {
		text-align: center;
		padding: 4px 5px;
	}
	table.userlist th {
		font-weight: normal;
		background: #dde3ff;
		text-shadow: none;
		cursor: default;
	}
		table.userlist th:hover {
			background: #558FA4;
			color: #ffffff;
		}
	table.userlist tr {
		background: #f0f0f0;
		cursor: default;
	}
	table.userlist tr:nth-child(odd) {
		background: #f5f5f5;
	}

	table.userlist tr:hover > td {
		background: #e3f4f4;
	}
	table.userlist a:link {
		display: block;
	}
	table.userlist .avatar {
		max-width: 64px;
		max-height: 64px;
	}
	table.userlist .username {
		color: #558FA4;
		font-weight: bold;
	}
	table.userlist .usergroup {
		color: #777777;
		text-shadow: 0 0 1px rgba(0,0,0,.2);
	}

/* User */
.user_avatar {
	float: left;
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
}
	.user_avatar .avatar {
		max-height: 200px;
		max-width: 200px;
	}
.container.user {
	margin-left: 210px;
}
	.container.user::after {
		content: "";
		height: 0;
		display: block;
		clear: both;
	}
.container_content .signature {
	padding: 20px 40px;
	background-image: url('images/quote-start.png'), url('images/quote-end.png');
	background-position: left bottom, right top;
	background-repeat: no-repeat;
	max-height: 100px;
	overflow: auto;
}
.container_content .info {
	padding: 10px;
	line-height: 16px;
}
	.container_content .info span {
		padding: 0 10px 0 18px;
		background: transparent no-repeat left center;
		display: inline-block;
		white-space: nowrap;
	}
	.container_content .info .group {
		background-image: url('icons/g_16_group.png');
	}
	.container_content .info .gender.male {
		background-image: url('icons/g_16_male.png');
	}
	.container_content .info .gender.female {
		background-image: url('icons/g_16_female.png');
	}
	.container_content .info .joined {
		background-image: url('icons/g_16_calendar.png');
	}
	.container_content .info .activity {
		background-image: url('icons/g_16_clock.png');
	}
	.container_content .info .language {
		background-image: url('icons/g_16_flag.png');
	}
	.container_content .info .birthday {
		background-image: url('icons/g_16_balloons.png');
	}
	.container_content .info .age {
		padding: 0 10px 0 0;
	}